.recommended_videos{
    flex: 0.8;
    border: 1px solid black;
    background-color: #f9f9f9;
    padding-bottom: 0;
}  
.recommended_videos > h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
.recommendedVideos_vides{
    
    display: flex;
    flex-wrap: wrap;
}